/* gogle font import here */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&family=Sora:wght@300;400;500;600;700;800&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");
/*  override default style */
/* shaared styles */
.btn-primary {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
  border-radius: 8px;
  background: #ff900e;
  outline: none;
  border: none;
}
.text-light-gray {
  text-transform: capitalize;
  color: #727272;
  margin: 10px;
}
.section-tittle {
  color: #131313;
  font-size: 2.81rem;
  font-weight: 700;
  margin: 1rem 0;
  text-transform: capitalize;
}
.text-center{
    text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}
/* hader style */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
}
nav li a {
  text-decoration: none;
  color: #424242;
  text-align: center;
  font-family: "Work Sans";
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

/* banner styles */
.tittle-container {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-tittle {
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  color: #727272;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
}
.banner img {
  width: 100%;
  margin-top: 20px;
}
/* banner style end here */

/* main section style start here */

main {
  max-width: 1440px;
  margin: 70px auto;
}
/* -----------------------team secion style start here --------------------- */
.teams-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 76px;
  align-items: center;
  justify-content: center;
}
.teams-image-container {
  flex: 1;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.team-content {
  padding-left: 70px;
  padding-right: 70px;
}
.team-tittle {
  font-size: 2.8rem;
}
.team-tittle .quick-list {
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;
  text-transform: uppercase;
}
.team-tittle .of-our {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.team-tittle .feature {
  color: #ff900e;
  font-size: 2.8rem;
  font-weight: 700;
}
.team-description {
  margin: 24px 0px 32px 0px;
  line-height: 26px;
  color: #727272;
  font-size: 1rem;
}
/* --------------------tesm section ended here /----------------- */

/* facts section style start here */
.facts-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}
.fact-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  border-radius: 8px;
  border: 1px solid #ff900e;
}
.fact-card img {
  width: 45px;
  height: 45px;
}
.fact-card h1 {
  font-size: 2.81rem;
  text-transform: capitalize;
}
.fact-card p {
  color: #727272;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.25rem;
}

.sponsores-logos-container{
    display: grid;
    grid-template-columns:repeat(5,1fr);
    gap:2rem;
    margin: 4rem 0rem;
}
.sponsores-image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sponsores-image-container img{
    width: 100%;
}










/* responsive styles */
/* smaller device  */
@media screen and (max-width: 576px) {
  /* header responsive */
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
  }
  .banner-tittle {
    font-size: 2rem;
  }
  /* ended */
  /* team section responsive */
  .teams-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .image-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .image-grid img {
    width: 100%;
    padding: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
  .team-content {
    padding: 0px 1.2rem;
  }
  /* ended //////////////j-------------- */
  /* facts responsive */
  .facts-card-container{
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
  }
  .fact-card{
    margin: 0px 10px;
  }
  .sponsores-logos-container{
    
    grid-template-columns:repeat(2,1fr);
    gap:2rem;
    margin: 4rem 0rem;
}
#figma{
    grid-row: span 1;
}
.sponsores-image-container img{
    width: 60%;
}



}

/*  medium devices  */
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav {
    flex-direction: column;
  }

  .header {
    padding: 20px;
  }
  .teams-container {
      grid-template-columns: repeat(1, 1fr);
      gap:3rem;
    }
  
   
  .facts-card-container{
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
  }
}
