/* gogle font import here */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&family=Sora:wght@300;400;500;600;700;800&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");
/*  override default style */
/* shaared styles */
.btn-primary {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
  border-radius: 8px;
  background: #ff900e;
  outline: none;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}
/* hader style */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav h3 {
  color: #131313;
  text-align: center;
  font-family: "Work Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
}
nav li a {
  text-decoration: none;
  color: #424242;
  text-align: center;
  font-family: "Work Sans";
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

/* banner styles */
.tittle-container {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-tittle {
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  color: #727272;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
}
.banner img {
  width: 100%;
  margin-top: 20px;
}
/* banner style end here */

/* main section style start here */
main {
  max-width: 1440px;
  margin: 0 auto;
}
.teams-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 76px;
  align-items: center;
  justify-content: center;
}
.teams-image-container {
  flex: 1;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.team-content {
  flex: 1;
  padding-left: 70px;
  padding-right: 70px;
}
.team-tittle {
  font-size: 2.8rem;
}
.team-tittle .quick-list {
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;
  text-transform: uppercase;
}
.team-tittle .of-our {
  color:#131313;
  font-size:2.8rem; 
  font-weight: 700;
}
.team-tittle .feature{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}
.team-description{
    margin: 24px 0px 32px 0px;
    line-height: 26px;
    color: #727272;
    font-size: 1rem;
}

  
 

/* responsive styles */
/* smaller device  */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav {
    flex-direction: column;
  }
}

/*  medium devices  */
@media screen and (min-width: 576px) and (max-width: 960px) {
  nav {
    flex-direction: column;
  }

  .header {
    padding: 20px;
  }
}
